<%= image_tag("TRELORA-Logo.png", class:"logo")%>

<h2>Listing Consultation Tool</h2>

<% flash.each do |key, value| %>
  <div class="alert alert-info">
    <%= value %>
  </div>
<% end %>

<div>
  <%= form_tag login_path do %>
    <div class="form-group">
      <%= label_tag :email, "Member Email" %>
      <%= email_field_tag :email, nil, class: "form-control", 'aria-describedby' => "emailHelp" %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: 'form-control' %>
    </div>
    <%= submit_tag "Login", class: "btn btn-primary btn-lg login-button" %>
  <% end %>
</div>
