

----------------------------
<nav class="navbar sticky-top navbar-light" style="background-color: #FFFFFF; text-align: left;">
  <a class="navbar-brand" href="#">
    <%= image_tag("TRELORA-Logo.png", class:"tiny_logo")%>
  </a>
  <a class="font-weight-bold" style="color: #A4C950;" href="#"><h3>Prepare</h3></a>
  <button class="btn" type="button" style="text-align: right; background_color: #A4C950;" href="#"><h4>Go to Collect</h4></button>
</nav>
<nav class="navbar navbar-dark bg-dark text-align: center;">
  <a class="navbar-brand" href="#">
    <h3>Address: Some Address</h3>
  </a>  
</nav>
<div class="card border-light mb-3" style="max-width: 150rem; text-align: left;">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" style="max-width: 10rem;"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col"><h3>Listing Details</h3></th>
          </tr>
          <tr>
            <th scope="col">Name:</th>
            <td><%= @address.name %></td>
          </tr>
          <tr>
            <th scope="col">Email:</th>
            <td><%= @address.email %></td>
          </tr>
          <tr>
            <th scope="col">Phone:</th>
            <td><%= @address.phone %></td>
          </tr>
          <tr>
            <th scope="col"> Coordinates:</th>
            <td>Some Coordinates</td>
          </tr>
          <tr>
            <th scope="col"> Opted In:</th>
            <td><%= @address.opted_in %></td>
          </tr>
          <tr>
            <th scope="col">Found Us Through:</th>
            <td><%= @address.found_us %></td>
          </tr>
          <tr>
            <th scope="col">Estimate:</th>
            <td>Zillow Details: <%= @address.zillow_estimate %></td>
          </tr>
          <tr>
            <th scope="col">Enthusiasm:</th>
            <td><%= @address.enthusiasm %></td>
          </tr>
          <tr>
            <th scope="col">Timing:</th>
            <td><%= @address.timing %></td>
          </tr>
          <tr>
            <th scope="col">Adopter Type:</th>
            <td><%= @address.adopter_type %></td>
          </tr>
          <tr>
            <th scope="col">Updates:</th>
            <td>Bla Bla Bla</td>
          </tr>
          <tr>
            <th scope="col">Stage:</th>
            <td><%= @address.stage %></td>
          </tr>
          <tr>
            <th scope="col">Retainer:</th>
            <td>500</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
>
