<nav class="navbar sticky-top navbar-light" style="background-color: white; text-align: left; border-bottom: 0.5vh solid #7da72f">
  <a class="navbar-brand" href="#" style="margin-bottom: 0.5vh">
    <%= image_tag("TRELORA-Logo.png", class:"tiny_logo")%>
  </a>
  <a class="font-weight-bold" style="color: #94c63b;" href="#"><h3>Prepare</h3></a>
  <%= link_to "Begin Visit", collect_path, class: "btn btn-primary btn-lg" %>
</nav>
<nav class="navbar navbar-dark bg-dark text-align: center;">
  <a class="navbar-brand" href="#">
    <h3>Address: <%= @address.street%>, <%= @address.city %>, <%= @address.state %> <%= @address.zip %></h3>
  </a>
</nav>
<div>
  <div class="container" style="padding-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header" >Client Contact:</h3>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="col" class="name">Name:</th>
                <td><%= @address.name %></td>
              </tr>
              <tr>
                <th scope="col" class="email">Email:</th>
                <td><a href="mailto:<%@address.email%>"><%= @address.email %></a></td>
              </tr>
              <tr>
                <th scope="col" class="phone">Phone:</th>
                <td><a href="tel:<%@address.phone%>"><%= @address.phone %></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header">Client Details:</h3>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="col" class="opted_in"> Opted In:</th>
                <td><%= @address.opted_in %></td>
              </tr>
              <tr>
                <th scope="col" class="found_us">Found Us:</th>
                <td><%= @address.found_us %></td>
              </tr>
              <tr>
                <th scope="col" class="enthusiasm">Enthusiasm:</th>
                <td><%= @address.enthusiasm %></td>
              </tr>
              <tr>
                <th scope="col" class="timing">Timing:</th>
                <td><%= @address.timing %></td>
              </tr>
              <tr>
                <th scope="col" class="adopter_type">Adopter Type:</th>
                <td><%= @address.adopter_type %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header">Zillow Pricing Estimates:</h3>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="col" class="zillow_zestimate">Zestimate:</th>
                <td><%= @address.zillow_estimate %></td>
              </tr>
              <tr>
                <th scope="col" class="zillow_low_estimation">Low:</th>
                <td><%= @address.zillow_low_estimation %></td>
              </tr>
              <tr>
                <th scope="col" class="zillow_high_estimation">High:</th>
                <td><%= @address.zillow_high_estimation %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header">Home Junction Pricing Estimates:</h3>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="col" class="home_junction_regional_average">Regional Average:</th>
                <td><%= @address.home_junction_regional_average %></td>
              </tr>
              <tr>
                <th scope="col" class="home_junction_low_estimation">Low:</th>
                <td><%= @address.home_junction_low_estimation %></td>
              </tr>
              <tr>
                <th scope="col" class="home_junction_high_estimation">High:</th>
                <td><%= @address.home_junction_high_estimation%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header">Listing Details:</h3>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="col" class="size">Size:</th>
                <td><%= @address.baths %> Baths, <%= @address.beds %> Beds</td>
              </tr>
              <tr>
                <th scope="col" class="updates">Exterior:</th>
                <td><%= @address.ext_updates %></td>
              </tr>
              <tr>
                <th scope="col" class="updates">Interior:</th>
                <td><%= @address.int_updates %></td>
              </tr>
              <tr>
                <th scope="col" class="stage">Stage:</th>
                <td><%= @address.stage %></td>
              </tr>
              <tr>
                <th scope="col" class="stage">Zillow:</th>
                <td>link</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 4vh; margin-bottom: 2vh;">
    <div class="row justify-content-center">
      <div class="map-label card text-center col-12">
        <h3 class="map-label card-header">Map: <%= @address.street %></h3>
        <%= link_to "#{@address.street}", "https://www.google.com/maps/search/?api=1&query=#{@address.url_street}%2C%20#{@address.city}%2C%20#{@address.state}%2C%20#{@address.zip}" %>
      </div>
    </div>
  </div>
</div>
<div id="map" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <script>
          function initMap() {
            var lat_var = <%= @address.lat %>;
            var long_var = <%= @address.long %>;
            var location_var = {lat: lat_var, lng: long_var}

            var map = new google.maps.Map(document.getElementById('map'), { center: location_var,
                                                                              zoom: 16 });
            var marker = new google.maps.Marker({position: location_var, map: map});
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_map_api_key'] %>&callback=initMap"
        async defer>
        </script>
      </div>
    </div>
  </div>
</div>
