<ul>
<li class="name"><%= @address.name %></li>
<li class="email"><%= @address.email %></li>
<li class="phone"><%= @address.phone %></li>
<li class="opted_in"><%= @address.opted_in %></li>
<li class="found_us"><%= @address.found_us %></li>
<li class="estimate"><%= @address.zillow_estimate %></li>
<li class="enthusiasm"><%= @address.enthusiasm %></li>
<li class="timing"><%= @address.timing %></li>
<li class="adopter_type"><%= @address.adopter_type %></li>
<li class="stage"><%= @address.stage %></li>
</ul>
