<%= image_tag("TRELORA-Logo.png", class:"logo")%>


<h2>Pricing Location Address</h2>

<% flash.each do |key, value| %>
  <div class="alert alert-info">
        <%= value %>
  </div>
<% end %>
<p class='message'></p>
<div>
<%= form_tag prepare_path, :method => :get do %>
  <div class="form-group">
    <%= label_tag :q, "Select your address" %>
    <%= select_tag(:q, options_for_select(@formatted_addresses, params[:address]), prompt: "Select Address", class: 'form-control') %>
  </div>
  <p>Or enter an address</p>
  <div class="form-group">
    <%= text_field_tag(:new_q, nil, placeholder: '123 any street, city, state, zipcode', class: 'form-control') %>
  </div>
  <%= submit_tag 'Find Location', name: "address", class: "btn btn-primary btn-lg", data: {'find' => true} %>
  <% end %>
</div>
