<div> 
<p id="timer"></p>
  <script>
    let init = function() {
      let btn = document.querySelector('.btn-secondary'), 
      startTime = new Date();
      if (btn) {
        btn.addEventListener('click', function() {
        let miliSeconds = new Date() - startTime;
        var hours = Math.floor((miliSeconds % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((miliSeconds % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((miliSeconds % (1000 * 60)) / 1000);
        
        document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
        })
      }
    }
    document.addEventListener('DOMContentLoaded', function() {
      init();
    }, false);
  </script>
</div>

<div>
  <%= form_tag collect_path, method: :post do %>
    <div class="form-group">
      <%= label_tag :about_the_home, "About The Home" %>
      <%= text_area_tag :about_the_home, params[:about_the_home], class: "form-control", 'aria-describedby' => "aboutthehomeHelp" %>
    </div>
    <div class="form-group">
      <%= label_tag :recommended_list_price %>
      <%= text_field_tag :recommended_list_price, params[:recommended_list_price], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :update_client_enthusiasm %>
      <%= select_tag(:update_client_enthusiasm, options_for_select(['Hot', 'Medium', 'Mild']), class: 'form-control') %>
    </div>
    <div class="form-group">
      <%= label_tag :buyer_agent_commission %>
      <%= text_field_tag :buyer_agent_commission, params[:buyer_agent_commission], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :about_the_seller %>
      <%= text_area_tag :about_the_seller, params[:about_the_seller], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :credit_card_number %>
      <%= text_field_tag :credit_card_number, params[:credit_card_number], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :credit_card_expiration_date %>
      <%= month_field_tag :credit_card_expiration_date, params[:credit_card_expiration_date], class: 'form-control' %>
    </div>
    <div>
    <%= submit_tag "Save", name: "save", class: "btn btn-primary btn-lg" %>  
    </div>
  <% end %>
</div>

<button class ="finish" onclick="myFunction()"> <%= submit_tag "Save and Finish", name: "save_and_finish", class: "btn btn-secondary btn-lg" %> </button>
<div id="finishPopup">
Listing Consultation Complete <br> Time in Home
</div>

<script>
function myFunction() {
    var popup = document.getElementById("finishPopup");
    if (popup.style.display === "none") {
        popup.style.display = "block";
    } else {
        popup.style.display = "none";
    }
}
</script>





      