<nav class="navbar sticky-top navbar-light" style="background-color: white; text-align: left; border-bottom: 0.5vh solid #7da72f">
  <a class="navbar-brand" href="#" style="margin-bottom: 0.5vh">
    <%= image_tag("TRELORA-Logo.png", class:"tiny_logo")%>
  </a>
  <a class="font-weight-bold" style="color: #94c63b;" href="#"><h3>Success</h3></a>
  <%= link_to "Logout", logout_path, class: "btn btn-primary btn-lg" %>
</nav>
<div>
  <div class="container" style="padding-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header" >About The Home</h3>
        <div class="card-body">
          <p class="card-text"><%= @updated["consultation"]["about_this_home"] %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header" >Recommended List Price</h3>
        <div class="card-body">
          <p class="card-text">$<%= @updated["consultation"]["recommended_list_price"] %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header" >Buyer Agent Commission</h3>
        <div class="card-body">
          <p class="card-text"><%= @updated["consultation"]["commission"] %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header" >About The Seller</h3>
        <div class="card-body">
          <p class="card-text"><%= @updated["consultation"]["about_the_seller"] %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header" >Credit Card Number</h3>
        <div class="card-body">
          <p class="card-text"><%= @updated["consultation"]["credit_card"] %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 2vh">
    <div class="row justify-content-center">
      <div class="card text-center col-12">
        <h3 class="prepare-label card-header" >Credit Card Expiration Date</h3>
        <div class="card-body">
          <p class="card-text"><%= @updated["consultation"]["exp_date"] %></p>
        </div>
      </div>
    </div>
  </div>
</div>
  
